<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up PelisPlus</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style_singup.css">
</head>

<body>
    <header>
        <div class="contenedor"></div>
        <h2 class="logo">PelisPlus</h2>
        </div>
    </header>
    <div class="marco">
        <form action="/signup" method="POST">
            <h2 class="singup_title">Sing Up</h2>
            <input type="text" placeholder="Correo electrónico" name="correo"> <br>
            <input type="password" placeholder="password" name="password"><br>
            <button type="submit"> Registrar </button>
            <br>
            <br>
            <br>
            <p>¿Ya tienes una cuenta? <br> <a href="/">Login</a></p>
            <br>
            <br>
        </form>

    </div>
    <footer>
        <div>
            <p>© 2020, PelisNur, Inc. o afiliados</p>
        </div>
    </footer>
</body>

</html>