<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Episodio</title>
    <link rel="stylesheet" href="/css/style_ver-pelicula.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="contenedor">
            <h2 class="logo">PelisNur</h2>
            <ul class="nav">
                <li><a href="/index">Inicio</a></li>
                <li><a style="color:lightgrey" href="/seccion-peliculas" >Películas</a></li>
                <li><a style="color:goldenrod"href="/seccion-series">Series</a></li>
                <li><a href="/">Salir <i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>
    </header>
    <div class="pelicula contenedor">
        <h2 class="titulo"><%= episodio.nombre %> </h2>
        <iframe width="560" height="315" src="<%= episodio.trailer %> " frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <footer>
        <div>
            <p>© 2020, PelisNur, Inc. o afiliados</p>
        </div>
    </footer>
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" data-auto-replace-svg="nest"></script>

</body>

</html>